:root {
  --main-color: #000;
  --secondary-color: #dafbe6;
  --body-color: #f9f9f9;
  --title-grey: #a9abac;
  --background-grey: #f5f8fa;
  --medium-grey: #ddd;
  --light-grey: #eee;
  --white: #fff;
  --border: hsl(0deg 0% 86%);
  --item-hover: #f7f7f9;
  --close-button: #64748b;
}




